*{
    color:rgb(0, 0, 0);
}

body{
    text-align: center;
    /* justify-content: center; */
    background-image: url("https://wallpaperaccess.com/full/5818333.jpg");
    background-repeat: no-repeat;
    background-size:100%;
}
#answer-div{
    display: block;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    text-align: left;
    background-color: rgba(200, 235, 179, 0.5);
    border: gold;
    border-style: double;
    border-width: 3px;
}

div {
    font-size: 1.5em;
    padding: 0.5em;
}
ul {
    list-style-type: none;
}
/* pokemon image */
#pokemonImg{
    position:relative;
    float:right;
}
#pokemonImg:hover{
    box-shadow: 2px 2px 2px 2px #2a2828; 
    border:lightgreen;
    border-style:double;
}
/* search butoon */
#serch-btn{
    border: 0.1em solid;
    border-radius: 1em;
    font-style: italic;
}
#serch-btn:hover {
    filter: drop-shadow(6px 6px 5px #2a2828);
}
#serach-div{
    font-size: 2em;
}
#searchInput{
    border: 0.1em solid;
    border-radius: 1em;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 0.05em;
    transition: all .5s ease-in-out;
    background-color: #eccdb3;
}
